*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f1f1f1;
}

header{
    background:#1f2d44;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#3f7de8;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
}

.layout-wrapper{
    width:80%;
    margin:30px auto;
    display:flex;
    gap:20px;
}

.content{
    flex:3;
}

.card{
    background:white;
    padding:20px;
    border-radius:8px;
    margin-top:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card a {
    color: #3f7de8;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.container{
    width:80%;
    margin:30px auto;
}

ul{
    list-style:none;
    padding:0;
}

.project-card{
    background:white;
    padding:20px;
    margin-bottom:25px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.project-card img{
    width:100%;
    max-width:500px;
    height:250px;
    object-fit:cover;
    border-radius:8px;
    margin:15px 0;
}

.project-card h2{
    color:#1f2d44;
    margin-bottom:10px;
}

.project-card p{
    line-height:1.6;
}

.demo-list{
    list-style:none;
    padding:0;
}

#player{
    margin-top:15px;
}


aside{
    flex:1;
    background:#e7ebf1;
    padding:20px;
    border-radius:8px;
    height:fit-content;
}

footer{
    background:#1f2d44;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}